html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
  background: #f0f2f5;
}

.login-box {
  width: 100%;
  max-width: 380px;
}

input, button {
  height: 45px;
}

.container {
    flex: 1;
}

/* Footer styling */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

/* Login box */
.login-box {
    width: 350px;
}

/* Tables */
table th, table td {
    text-align: center;
    vertical-align: middle;
}

/* -------- PRODUCT PAGE -------- */

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 25px;
  padding: 20px 40px;
}

.product-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.product-img {
  width: 100%;
  height: 250px;
  position: relative;
  background: #f8f8f8;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.low-stock {
  position: absolute;
  top: 8px;
  left: 8px;
  background: orange;
  color: #fff;
  padding: 2px 6px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 3px;
}

.out-of-stock {
  position: absolute;
  top: 8px;
  left: 8px;
  background: red;
  color: #fff;
  padding: 2px 6px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 3px;
}


.product-info {
  padding: 15px;
}

.product-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 600;
}

.product-category {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.product-stock {
  font-size: 14px;
  color: #111;
}
