html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

/* Footer styling */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

/* Login box */
.login-box {
    width: 350px;
}

/* Tables */
table th, table td {
    text-align: center;
    vertical-align: middle;
}
